{% if menu %}
<div class="temp-nav">

	{% for item in menu %}
		<a class="meta-label {{item.classes | join(' ') }}" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
	{% endfor %}

<style>

</style>
</div>
{% endif %}
